[submodule "lib/tk_double_scale"]
	path = lib/tk_double_scale
	url = https://github.com/yannprada/tk_double_scale
[submodule "lib/yaml_tkinter"]
	path = lib/yaml_tkinter
	url = https://github.com/yannprada/yaml_tkinter
